{% extends "address/base.html" %}

{% block content %}
  <h1>Listagem de endereços</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col"> Cep</th>
        <th scope="col"> Endereço</th>
        <th scope="col"> Número</th>
        <th scope="col"> Complemento</th>
        <th scope="col"> Bairro</th>
        <th scope="col"> Cidade</th>
        <th scope="col"> Uf</th>
        <th scope="col"> Descricão</th>
      </tr>
    </thead>
    <tbody>
      {% for address in addresses %}
      <tr>
        <th scope="row"> {{ address.cep }}</th>
        <td>{{ address.street }}</td>
        <td>{{ address.number }}</td>
        <td>{{ address.complement }}</td>
        <td>{{ address.neighborhood }}</td>
        <td>{{ address.city }}</td>
        <td>{{ address.uf }}</td>
        <td>{{ address.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
