{% extends "address/base.html" %}

{% block content %}
<div class="content-section">
    <form method="post" action="{% url 'address-create' %}">
        {% csrf_token %}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Cadastro de endereço</legend>
            {{ form.cep.errors }}
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-dark" type="submit">Cadastrar</button>
        </div>
    </form>
    {% block other_scripts %}
      <script type="text/javascript">
        $(document).ready(function() {
          console.log("carregado");

          $("#id_cep").blur(function() {
            let cep = $('#id_cep').val().replace(/\D/g, '');
            console.log(cep);

            fetch(`https://viacep.com.br/ws/${cep}/json/`).then(function(response) {
              return response.json();
            }).then(function(data) {
              $("#id_street").val(data.logradouro);
              $("#id_neighborhood").val(data.bairro);
              $("#id_city").val(data.localidade);
              $("#id_uf").val(data.uf);
              $("#id_complemento").val(data.complemento);
            }).catch(function(err) {
              $("#id_street").val("");
              $("#id_neighborhood").val("");
              $("#id_city").val("");
              $("#id_uf").val("");
              $("#id_complemento").val("");
              console.log('Error: ' + err.message);
            });
          });
        });
      </script>
    {% endblock other_scripts %}
</div>
{% endblock content %}
